<div class="tile-frame">
    <a class="center-block" href="{{site.url}}/coding">
        <svg viewBox="36.3 155 52 52" width="150px" height="150px">
            <rect
                    id="rect3699"
                    width="47.085419"
                    height="36.295197"
                    x="38.788277"
                    y="162.29616"
                    style="stroke-width:4;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    ry="5.8932929"></rect>
            <path
                    id="path4508"
                    d="m 45.422188,190.91524 5.893295,-5.85708 -5.893295,-5.85709"
                    style="stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            ></path>
            <path
                    style="stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 53.595697,191.91052 h 7.826851"
                    id="path4512"
            ></path>
            <rect
                    style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    id="rect4532"
                    width="1.4638381"
                    height="1.3221762"
                    x="79.058975"
                    y="166.42151"
                    ry="0.15110737"></rect>
            <rect
                    ry="0.15110737"
                    y="166.42151"
                    x="75.060745"
                    height="1.3221762"
                    width="1.4638381"
                    id="rect4534"
                    style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"></rect>
            <rect
                    style="stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    id="rect4536"
                    width="1.4638381"
                    height="1.3221762"
                    x="71.121483"
                    y="166.42151"
                    ry="0.15110737"></rect>
        </svg>
    </a>
    <p>Coding</p>
</div>