<div class="tile-frame">
  <a class="center-block" href="{{site.url}}/climbing">
    <svg viewBox="52 205 50 50">
    <path
            style="stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 81.489788,228.69108 3.607531,-6.08498 14.885675,24.37048 -45.633587,-0.007 18.499906,-33.98056 18.499944,33.96102"
            id="path28"
            >
    </path>
    <path
            style="stroke-width:4;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
            d="m 61.426209,234.14914 11.123846,-8.68878 4.648768,4.87014 2.301464,-6.20068"
            id="path1422"
            >
    </path>
    </svg>
  </a>
  <p>Climbing</p>
</div>