$deep-green: #03D45F;
$blue-green: #0CEBBA;
$mid-blue: #00bcd4;
$dark-blue: #0C8BEB;
$darkest-blue: #00bcd4;
$light-grey-text: #a1a1a1;

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Open Sans', sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color-light: lighten($dark-blue, 40%) !default;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

